@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-neutral-050: #F6F6F6;
  --color-neutral-100: #ECECEC;
  --color-neutral-200: #D8D8D8;
  --color-neutral-300: #C1C1C1;
  --color-neutral-400: #A8A8A8;
  --color-neutral-500: #7D7D7D;
  --color-neutral-600: #686868;
  --color-neutral-800: #585656;
  --color-neutral-900: #2E2E2E;

  --color-primary-100: #B5A2F6;
  --color-primary-200: #A08BE5;
  --color-primary-300: #937FDC;
  --color-primary-500: #7151D6;
  --color-primary-700: #5D48A6;
  --color-primary-900: #432C91;

  --color-accent-100: #F4BBB6;
  --color-accent-300: #F7B4AD;
  --color-accent-500: #F9988E;
  --color-accent-900: #ED776C;

  --color-danger-050: #FDD3D3;
  --color-danger-200: #FB8888;
  --color-danger-500: #FE5D5D;

}
@layer base {
  * {
    @apply box-border m-0 p-0;
  }
}


@layer components {

  .text-input{
    @apply w-full outline-none px-3.5 py-3 flex items-center placeholder-neutral-600 text-neutral-900 text-sm border border-neutral-200 rounded-sm;
  }
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
